<p>Hello {{ name }},</p>
<p>Click the link below to reset your password:</p>
<a href="{{ link }}" 
   style="display:inline-block; background-color:#4285f4; color:white; padding:10px 20px; border-radius:5px; text-decoration:none; font-weight:bold;">
  Reset Password
</a>

<p>This link will expire in 1 hour.</p>

